<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ausrabot">

  <xacro:include filename="$(find ausrabot_description)/urdf/ausrabot/ausrabot_core.xacro" />
  <xacro:include filename="$(find ausrabot_description)/urdf/ausrabot/sensors.xacro" />
  <xacro:include filename="$(find ausrabot_description)/urdf/ausrabot/gazebo.xacro" />

  <xacro:ausrabot_core />

  <link name="robot_footprint" />
  <joint name="dummy_joint" type="fixed">
      <parent link="robot_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
  </joint>

  <xacro:sensors />
  <xacro:gazebo />



</robot>